.cnode-main {
    background:#e1e1e1;
    &-inner {
        margin: 15px auto;
        .content {
            margin-right: 305px;
            .categoryBox {
                padding: 10px;
                background: #f6f6f6;
                border-radius: 3px 3px 0 0;
                height: 40px;
                div {
                    margin: 0 10px;
                    color: #80bd01;
                    font-size: 14px;
                    a {
                        color: inherit;
                        text-decoration: none;
                    }
                }
            }

            .topic_list {
                .cell:first-child{
                    height: 52px;
                }
                .cell:last-child{
                    border-bottom: none;
                }
                .cell {
                    &:hover{
                        background: #f6f6f6;
                    }
                    background: #fff;
                    position: relative;
                    padding: 10px;
                    font-size: 14px;
                    border-bottom:1px solid #ccc;
                    .info {
                        img {
                            height: 30px;
                            width: 30px;
                            vertical-align: top;
                        }

                        .count {
                            vertical-align: top;
                            display: inline-block;
                            min-width: 70px;
                            text-align: center;
                            line-height: 30px;
                            font-size: 10px;

                            .count_of_replies {
                                color: #9e78c0;
                                font-size: 14px;
                            }

                            .count_of_visits {
                                color: #b4b4b4;
                            }
                        }
                        .topic_title {
                            color:#888;
                            line-height: 30px;
                        }
                    }
                    .info2{
                        line-height: 30px;
                    }
                }
            }
        }
        .sidebar {
            width: 290px;
            font-size: 14px;
            float: right;
            margin-bottom: 20px;
            border: 1px solid pink;
        }
    }
}