*,*::after,*::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
a{color:inherit;text-decoration: none;}
textarea{outline: none;resize: none;}
ul > li,ol > li,li{
  list-style: none;
}
.fl{float:left;}
.fr{float:right;}
.clearfix::after{
  content:'';
  display:block;
  clear:both;
}
.container{
  max-width: 1400px;
}

